body{
  text-align: center;
}

.search_form{
  text-align: center;
  background-color: grey;
  border: 5px solid black;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

.user_input{
  float: left;
}

.radio{
  float: left;
}