body{
  text-align: center;
  background-image: url(./assets/static/fortnite.webp);
}

.search_form{
  text-align: center;
  background-color: grey;
  border: 5px solid black;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

.user_input{
  float: left;
}

.radio{
  float: left;
}

#result1{
  display: inline-block;
}

#result2{
  display: inline-block;
}

#result3{
  display: inline-block;
}

#result4{
  display: inline-block;
}

#result5{
  display: inline-block;
}

