.statTable{
  text-align: center;
  background-color: grey;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #4c51f7;

}

.statRow{
  display: table-row;
  
  

}

.statTitle{
  background-color: white;
  border: 2px solid black;
  width: 100%;
  display: table-cell;
  padding: 3px 10px;




 

}

.statValue{
  background-color: white;
  border: 2px solid black;
  width: 100%;
  display: table-cell;
  padding: 3px 10px;



 

}